/* GENERAL */
html,
body {
  font-family: 'Raleway', sans-serif;
}

.heavy {
  font-weight: 700;
}

/* COLOR COMBOS / SHADOWS */
.dark-bg {
  background-color: #667292;
  color: #FFFFFF;
}

.light-bg {
  background-color: #BCCAD6;
  color: #212121;
}

.shadow {
  box-shadow: 2px 2px 10px #8D9DB6;
}

.yellow-btn {
  background-color: #FFCC35;
}

.warning-text {
  color: #EF5066;
  font-weight: bold;
}


/* MODAL */
.modal,
.modal-dialog,
.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  border-radius: 0px;
}

/* HEADER */
.header {
  padding: 20px 0;
}

.header-main-heading {
  font-size: 60px;
}

.header-user-name {
  color: #FFCC35;
  font-weight: bold;
}

/* MAIN CONTAINER */
.container-main {
  margin: 40px auto;
}

/* SEARCH BOX */

.cat-btn {
  margin-right: 3px;
}

/* RESULTS */
.result-card {
  max-width: 30%;
  width: 30%;
  display: inline-block;
  animation: slide-up 0.4s ease;
  transition: all 0.4s;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.result-card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 5px 5px 50px #8D9DB6;
  z-index: 999;
}

.result-card-title {
  font-weight: 700;
}

/* FAVORITES / TRASH SIDEBAR */
.sidebar-card {
  margin-top: 10px;
  width: 18rem;
}


/* FOOTER */
.footer {
  background-color: #475066;
  color: #FFFFFF;
  padding: 30px;
}

.row-team-members {
  margin-top: 20px;
}

.team-member-img {
  border-radius: 50%;
  width: 80%;
  max-width: 80%;
  border: 2px solid #FFFFFF;
}

.team-member-name {
  margin-top: 10px;
  font-size: 22px;
}
